@import url(http://fonts.useso.com/css?family=Electrolize);
@import url(http://fonts.useso.com/css?family=Cuprum);

html {
    width: 100%;
}
body {
    width: 100%;
    font-family: Electrolize,sans-serif;
}

.wrap {
    position: relative;
    margin-top: 30px;
}

.center {
    position: relative;
    width: 1000px;
    padding: 15px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    min-height: 590px;
}

.title {
    font-family: Cuprum,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(213,213,213);
    padding-bottom: 15px;
}

.clear-float {
    float: none!important;
    clear: both!important;
    height: 0px!important;
    width: 0px!important;
    margin: 0px!important;
    padding: 0px!important;
    position: relative;
    border:none!important;
}

@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-start{clip:rect(0,auto,auto,0);-ms-zoom:1.0001;}.ng-animate-active{clip:rect(-1px,auto,auto,0);-ms-zoom:1;}
