.control-label {
    color: rgb(148, 148, 148)!important;
    font-family:lato-regular, 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    font-weight: 100;
}

.form-group {
    margin-bottom: 20px;
}

.form-group > .date {
    padding-left: 0px!important;
}

textarea {
    min-height: 200px;
}