#global-nav {
    margin-top: 40px;
    padding-right: 30px;
}

#global-nav > li > a {
    cursor: pointer;
    text-align:right;
    color: black;
    border-radius: 0px;
    transition: 0.5s;
}

#global-nav > li > a:hover {
    color: white;
    background-color: red;
}
