
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link href="http://localhost:8900/assets/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/lib/fontawesome/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/style/base.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/style/button.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/style/color.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/style/form.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/style/good.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/style/modal.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/style/nav.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/style/page.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/style/title.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/service/order/order.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/service/user/login.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/service/user/register.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/directive/numberSelector/numberSelector.css" rel="stylesheet" media="screen">
    <link href="http://localhost:8900/assets/pages/home/home.css" rel="stylesheet" media="screen">
    <script>
    "use strict";
    var g_url = {};
    var g_config = {database: 'mongodb'}
    g_url.site_url = function (url) {
        var site_url = "http://localhost:8900";
        // ltrim the '/'
        if (url.indexOf('/') === 0) {
            url = url.substr(1);
        }
        return site_url + '/' + url;
    };

    g_url.base_url = function (url) {
        var base_url = "http://localhost:3000/";
        if (url.indexOf('/') === 0) {
            url = url.substr(1);
        }
        return base_url + url;
    };
    </script>
</head>
<body ng-app="database">
<div class="wrap">
    <div class="center">
        <ul class="col-xs-2 nav nav-pills nav-stacked" id="global-nav" ng-controller="SiteNavController">
            <li><a href="/">HOME</a></li>
            <li><a href="/book/list">BOOKS</a></li>
            <li><a href="/order/list">ORDERS</a></li>
            <li><a ng-click="exit()">EXIT</a></li>
        </ul>
        <div class="col-xs-10">
            <div class="title">
                Home
            </div>
            <div class="content" ng-controller="HomeController">

                <h1>The presentation of our group</h1>
                <h3>A web application to contrast the mongdb and mysql</h3>
                <br>
                成员列表
                <ul style="padding-left:15px;font-family:'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'Hiragino Sans GB', 'Source Han Sans CN Normal', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;">
                    <li>刘乾</li>
                    <li>徐盛福</li>
                    <li>俞汤达</li>
                    <li>陈石</li>
                </ul>
                <br>
                <h4 class="help-block">当前数据库:{{database}}</h4>
                <div class="btn btn-primary" ng-click="changeDatabase()">
                    Change
                </div>
            </div>
        </div>
        <div class="clear:float"></div>
    </div>
</div>
<script type="text/javascript" src="http://localhost:8900/assets/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/lib/angular/angular.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/lib/angular/angular-sanitize.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/lib/angular/ui-bootstrap-tpls-0.11.2.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/lib/date-time/moment.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/core/app.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/core/controller.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/core/directive.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/core/service.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/service/cart/cart.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/service/dialog/dialog.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/service/order/order.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/service/user/user.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/directive/fade/fade.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/directive/fadeIn/fadeIn.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/directive/formGroup/formGroup.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/directive/numberSelector/numberSelector.js"></script>
<script type="text/javascript" src="http://localhost:8900/assets/pages/home/controller.js"></script>
</body>
</html>
